.footer {
    max-width: 1170px;
    margin: 0 auto;
    font-family: $font-main;
    &-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-item {
            margin-top: 72px;
            h6 {
                font-weight: 500;
                font-size: 18px;
                line-height: 18px;
                color: #304050;
            }
            ul {
                margin-top: 32px;
                list-style-type: none;
                li {
                    a {
                        font-size: 16px;
                        line-height: 38px;
                        color: #657280;
                    }
                }
            }
            p {
                font-size: 16px;
                line-height: 26px;
                color: #657280;
                margin-top: 30px;
            }
        }
    }
    &-bottom {
        margin-top: 52px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 63px;
        p,
        span {
            font-size: 14px;
            line-height: 14px;
            /* identical to box height, or 100% */
            color: #657280;
        }
        span {
            margin-left: 30px;
        }
    }
}