html,
body {
    width: 100vw;
    height: 100vh;
}

.wrapper {
    max-width: $wrapper;
    margin: 0 auto;
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}