.header {
    max-width: 1170px;
    margin: 0 auto;
    // max-height: 113px;
    padding-top: 29px;
    padding-bottom: 44px;
    &-top {
        display: flex;
        justify-content: space-between;
        // &-logo {
        // }
        &-menu {
            display: flex;
            justify-items: flex-end;
            align-items: center;
            font-family: $font-main;
            ul {
                @include center;
                list-style: none;
                font-size: 14px;
                li {
                    padding: 0 39px;
                    a {
                        color: $color-dark;
                        font-weight: 500;
                        line-height: 1;
                    }
                }
            }
            .contact-us {
                display: inline-block;
                background-color: $color-blue;
                border-radius: 10px;
                &-link {
                    display: block;
                    padding: 18px 38px;
                    font-family: $font-main;
                    font-size: 14px;
                    color: #fff;
                    font-weight: 500;
                }
            }
        }
        .menu-icon {
            display: none;
        }
        .submenu {
            display: none;
        }
        .active {
            display: block;
        }
    }
    &-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 67px;
        gap: 0 127px;
        &-desc {
            h1 {
                font-family: $font-secondary;
                font-weight: 700;
                color: $color-dark;
                font-size: 62px;
            }
            p {
                font-family: $font-main;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 32px;
                color: #777781;
                margin-top: 20px;
            }
            &-link {
                display: inline-block;
                padding: 20px 40px;
                border: 1px solid $color-blue;
                border-radius: 10px;
                margin-top: 42px;
                font-family: $font-main;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 16px;
                color: $color-blue;
            }
        }
    }
    &-search {
        padding: 0 92px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 60px;
        h5 {
            font-family: $font-third;
            font-weight: 500;
            font-size: 20px;
            color: #24374b;
        }
        &-item {
            border-right: 1px solid #d3d3d3;
            div {
                img {
                    display: inline-block;
                }
                input {
                    font-family: $font-main;
                    margin-top: 18px;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 12px;
                    line-height: 12px;
                    color: #7d7e87;
                    outline: none;
                    border: 0;
                    border-bottom: 1px solid #7d7e87;
                }
            }
            a {
                display: inline-block;
                background-color: $color-blue;
                border-radius: 10px;
                padding: 27px 42px;
                font-family: $font-main;
                font-size: 18px;
                color: #fff;
                font-weight: 500;
            }
        }
    }
}

// @media (max-width: 1199.98px) {}
// @media (max-width: 991.98px) {}
// @media (max-width: 767.98px) {}
// @media (max-width: 575.98px) {}
@media (max-width: 1199.98px) {}

@media (max-width: 991.98px) {
    .header {
        padding: 10px 0 10px 0;
        &-top {
            &-menu {
                ul {
                    li {
                        padding: 0 20px;
                    }
                }
                .contact-us {
                    &-link {
                        display: block;
                        padding: 10px 18px;
                        font-family: $font-main;
                        font-size: 12px;
                        color: #fff;
                        font-weight: 500;
                    }
                }
            }
        }
        &-content {
            grid-template-columns: 1fr;
            &-desc {
                h1 {
                    font-size: 40px;
                }
                text-align: center;
                &-link {
                    padding: 18px 30px;
                    border: 1px solid $color-blue;
                    border-radius: 10px;
                    margin-top: 30px;
                    font-family: $font-main;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 16px;
                    color: $color-blue;
                    margin-bottom: 10px;
                }
            }
            img {
                max-width: 70%;
                height: auto;
                margin: 0 auto;
            }
        }
        &-search {
            display: flex;
            justify-content: space-around;
            align-items: center;
            &-item {
                border: 0;
                margin-left: 5px;
                a {
                    padding: 10px 20px;
                    text-align: center;
                }
            }
        }
    }
}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {
    .header {
        &-top {
            position: relative;
            &-menu {
                display: none;
            }
            .menu-icon {
                font-size: 40px;
                display: inline-block;
            }
            .submenu {
                position: absolute;
                min-width: 80%;
                right: 0;
                z-index: 99;
                background-color: #24374b;
                margin-right: 0;
                transition: all 0.8s;
                ul {
                    list-style-type: none;
                    font-family: $font-main;
                    font-size: 20px;
                    li {
                        a {
                            display: block;
                            padding: 20px 20px;
                            color: #fff;
                            &:hover,
                            &:active {
                                color: rgb(211, 203, 203);
                                // background-color: #fff;
                            }
                        }
                    }
                }
                .icon-close {
                    top: 10px;
                    right: 10px;
                    position: absolute;
                    z-index: 100;
                    text-align: right;
                    color: white;
                }
            }
        }
        &-content {
            grid-template-columns: 1fr;
            &-desc {
                h1 {
                    font-size: 40px;
                }
                text-align: center;
                &-link {
                    padding: 18px 30px;
                    border: 1px solid $color-blue;
                    border-radius: 10px;
                    margin-top: 30px;
                    font-family: $font-main;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 16px;
                    color: $color-blue;
                    margin-bottom: 10px;
                }
            }
            img {
                max-width: 70%;
                height: auto;
                margin: 0 auto;
            }
        }
        &-search {
            display: none;
        }
    }
}