.testimonials {
    max-width: 1440px;
    background-color: #fff4f4;
    margin: 0 auto;
    margin-top: 150px;
    font-family: $font-main;
    h2 {
        font-weight: 600;
        font-size: 44px;
        line-height: 54px;
        text-align: center;
        color: #1f3347;
        padding-top: 74px;
        margin-bottom: 64px;
    }
    &-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1170px;
        margin: 0 auto;
        gap: 0 30px;
        &-item1 {
            font-family: $font-main;
            background-color: #fff;
            border-radius: 10px;
            padding: 28px;
            margin-top: 74px;
            align-items: center;
            max-height: 326px;
            p {
                font-size: 12px;
                color: #777781;
            }
            .desc {
                font-size: 18px;
                line-height: 30px;
                color: #777781;
            }
            &-info {
                display: flex;
                margin-top: 26px;
                h6 {
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 20px;
                    color: #304050;
                    margin-top: 10px;
                }
            }
        }
        &-item2 {
            display: grid;
            gap: 30px 0;
            grid-template-rows: 1.3fr 1fr;
            font-family: $font-main;
            margin-bottom: 60px;
            p {
                font-size: 18px;
                line-height: 30px;
                color: #777781;
            }
            &-info {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                h6 {
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 20px;
                    color: #304050;
                }
                .desc {
                    font-size: 12px;
                    color: #777781;
                }
            }
            &>div {
                padding: 28px;
                background-color: #fff;
                border-radius: 10px;
            }
        }
        &-item3 {
            max-height: 326px;
            padding: 28px;
            background-color: #fff;
            border-radius: 10px;
            margin-top: 35px;
            display: flex;
            flex-direction: column;
            p {
                font-family: $font-main;
                font-size: 18px;
                line-height: 34px;
                color: #777781;
            }
            &>div {
                display: flex;
            }
            &-info {
                margin-top: 10px;
                h6 {
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 20px;
                    color: #304050;
                    margin-top: 10px;
                }
                p {
                    font-size: 12px;
                    line-height: 12px;
                    color: #777781;
                }
            }
        }
        .plan-heading-pages {
            justify-content: flex-end;
            margin-top: 30px;
        }
    }
}